access_key_id: ACCESSKEYHERE
secret_access_key: SECRETKEYHERE
role_arn: "arn:aws:iam::iamnumber:role/assuming_role_here"
role_session_name: sandbox
serial_number: "arn:aws:iam::accountnumber:mfa/username"
region: "us-east-1"